port=12345
players=2
fields=StartField|Course|Course|Course|Ousted|Course|Course|Course|CourseRequest|WorkOrStudy|BadDate|WorkOrStudy|LuckyCardField|WorkOrStudy|Entertainment|WorkOrStudy|NotAttended|WorkOrStudy|GiveUpCourse|WorkOrStudy|LuckyCardField|WorkOrStudy|Entertainment|WorkOrStudy|Notes|Exam|Exam|Exam|Exam|ImpossibleExam|Exam|Exam
cards=Cheating|ComputerBreakDown|DeadlineOver|FourthCourseRequest|Hangover|Knowledge|MatekingDiscount|MosiMega|NewComputerGame|OfferedMark|OvertimeWork|Scholarship|StateFundToSelfPay|Tippmix